/* ---------- DASHBOARD LAYOUT ---------- */
.dashboard-layout {
  display: grid;
  grid-template-columns: 1.7fr 2.6fr 1.7fr;
  gap: 24px;
  align-items: start;
  padding: 30px;
  max-width: 1600px;
  margin: 0 auto;
}

/* ---------- MAIN CENTER COLUMN ---------- */
.dashboard-main {
  background: white;
  color: #111827;
  box-shadow: var(--shadow);
  padding: 32px;
  padding-left: 48px;  
  padding-right: 48px; 
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- LEFT COLUMN ---------- */
.sidebar {
  background-color: var(--sidebar-bg);
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.satellite-status-container {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* ---------- RIGHT COLUMN ---------- */
